// Primary logo colors.
$orange: #f19033;
$darkOrange: #ea662a;
$green: #5ab046;
$lightGreen: #58B243;
$lightPink: #df699a;
$pink: #DD5C91;
$purple: #4953a3;
$darkPurple: #2a2c68;

$siteBackgroundColor: #3a3a5c;

// Text colors.
$defaultTextColor: #242429;
$defaultHeadingColor: #d74c0d;
$purpleText: #3f4157;

// Icon colors.
$twitterIconColor: #a9afe1;
$fbIconColor: #8083ad;
$gplusIconColor: #4a4c74;