// Primary logo colors.
$orange: #f19033;
$darkOrange: #ea662a;
$green: #5ab046;
$pink: #df699a;
$purple: #4953a3;
$darkPurple: #2a2c68;

$siteBgColor: #3a3a5c;
$lightBgColor: #ebebf3;

// Text colors.
$defaultTextColor: #242429;
$defaultHeadingColor: #d74c0d;
$purpleText: #3f4157;

// Icon colors.
$twitterIconColor: #a9afe1;
$fbIconColor: #8083ad;
$gplusIconColor: #4a4c74;


// Fonts.
$montserrat: 'Montserrat';

%bold {
  font-weight: 700;
}

// Placeholders.
%button {
  display: block;
  border-radius: 18px;
  border: 2px solid $purple;
  text-align: center;
  padding: 10px 30px;
  background: transparent;
}

%sponsorImg {
  outline: 3px solid #fff;
}

%lightBg {
  background: $lightBgColor;
}