@import "variables";
@import "mixins";
@import "compass/css3";

$base_padding: 0;
$small_padding: 0;

.panel-pane.home-box {
  z-index: 2;
  position: relative;
  width: 340px;
  float: left;
  min-height: 245px;
  margin-top: -50px;
  .button {
    width: 70%;
    position: absolute;
    bottom: 25px;
  }
  &.learn-box {
    margin-left: 20px;
    margin-right: 25px;
  }
  &.support-box {
    margin-left: 25px;
    margin-right: 20px;
  }
}

#page {
  margin: 0 auto;
  width: 1110px;
  // todo: make this use width: 100% and max-width: 1110px?
}

header.header {
  padding: 25px 25px 5px 25px;
  height: auto;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

#header-top, .header__name-and-slogan {
  margin-left: 0;
}
.header__name-and-slogan {
  display: block;
}

#header-top,
#header-bottom {
  display: block;
  overflow: hidden;
}

#logo {
  float: left;
  position: static;
  img {
    max-width: 210px;
  }
}

#name-and-slogan {
  float: left;
}

.front {
  .panels-top {
    display: inline-block;
    width: 100%;
    padding: 3%;
    padding-bottom: 85px;
    h1, p, .view {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    p .button {
      display: inline-block;
    }
    .panel-col {
      float: left;
      display: inline-block;
    }
    .panel-col-left {
      width: 72%;
    }
    .panel-col-right {
      width: 28%;
    }
  }
  .panel-middle {
    display: inline-block;
    padding-bottom: 25px;
  }
}

#social-media-links {
  float: right;
  display: block;
  @extend %inline-list;
  ul {
    margin-top: 0;
  }
  a {
    width: 50px;
    height: 50px;
    display: block;
    padding-top: 5px;
    box-sizing: border-box;
    margin-right: 8px;
  }
}


.home-about {
  width: 60%;
  float: left;
  h2, p {
    padding-left: 25px;
  }
}
.home-community {
  width: 40%;
  float: right;
  .pane-title {
    padding-right: 25px;
    padding-left: 25px;
  }
  .view {
    padding-right: 25px;
    padding-left: 18px;
  }
  .views-row {
    float: left;
    padding: 7px;
  }
  img {
    height: auto;
    width: 65px;
  }
}

#navigation {
  float: right;
  display: block !important; // todo.
  padding-top: 0;
  @extend %inline-list;
  .region-navigation {
    display: inline-block;
    width: 100%;
  }
  #block-system-main-menu {
    position: absolute;
    right: 20px;
    top: 100px;
  }
  ul.menu {
    width: auto;
    li {
      max-height: 100% !important;
      width: auto;
    }
  }
  #block-menu-block-top-level-nav {
    ul.menu {
      width: 100%;

      li {
        margin: 0 5px;

        &.first {
          width: 46%;
          margin-left: 0;
        }
        // todo: add classes to avoid using this selector.
        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: 18%;
        }
        &.last {
          width: 15%;
          margin-right: 0;
        }
      }

    }
  }
}

.pane-sponsors {
  overflow: hidden;
  padding: 0 25px;
  h2.pane-title {
    position: absolute;
  }
  .view-content {
    max-width: 1004px;
    margin: 0 auto;
  }
}

.view-id-sponsors.view-sponsors {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  .view-header {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: right;
    display: inline-block;
    float: right;
    .button {
      width: auto;
      margin: 0 0 0 10px !important; // todo.
    }
  }
  .view-content {
    margin: 20px 0;
  }
  .views-row {
    float: left;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: auto;
    &.views-row-odd {
      clear: none;
    }
    img {
      border: 3px solid #ffffff;
      height: auto;
      max-width: 117px;
    }
  }
}

.hamburger-wrap {
  display: none;
}

.front {
  .panels-top {
    .button {
      display: inline-block;
    }
  }
}

#main {
  position: relative;
}

.region-sidebar-first {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  box-sizing: border-box;
  padding: 0 25px;
}

.region-sidebar-second {
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  box-sizing: border-box;
  padding: 0 25px;
}


.no-sidebars {
  #content {
    width: 100%;
    margin: 0;
  }
}
#content {
  width: 570px;
  margin: 0 270px;
}

//support sponsors page

