@import "variables";
@import "mixins";


.home-box {
  width: 100%;
}
header {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}

#logo {
  img {
    max-width: 210px;
  }
}

#header-top, .header__name-and-slogan {
  margin-left: 80px;
}
.header__name-and-slogan {
  display: none;
}

.front {
  .page__title {
    display: none;
  }
  .panels-top {
    display: block;
    box-sizing: border-box;
    padding: 10px 25px;
    h1 {
      float: left;
      width: 100%;
      display: block;
      margin: 0;
    }
    .button {
      display: block;
      margin: 0 10px 10px 0;
    }
  }
}

.pane, .panel {
  width: 100%;
}

#social-media-links {
  display: none;
}

#main {
  clear: both;
}

#navigation {
  display: inline-block;
  width: 100%;
  margin: 0;
  ul.menu {
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    width: 100%;
    li {
      width: 100%;
      float: left;
      max-height: 40px;
      padding: 0;
      overflow: hidden;
    }
    a {
      display: block;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
  }
}

.js .menu-hidden  + #navigation {
  ul.menu li {
    max-height: 0;
  }
}

#skip-link {
  display: none;
}

.view-sponsors {
  img {
    height: auto;
    width: 100%;
  }
}
