@import "variables";
@import "mixins";
@import "compass/css3";

#page {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

#header-top,
#header-bottom {
  display: block;
  overflow: hidden;
}

#logo {
  float: left;
}

#name-and-slogan {
  float: left;
}

#social-media-links {
  float: right;
  display: block;
  @extend %inline-list;
}

#navigation {
  float: right;
  @extend %inline-list;
}