@import "variables";
@import "mixins";

.home-box {
  width: 33%;
  &.learn-box {
    border-radius: 0px 25px 0px 0px;
  h2.pane-title {
    border-radius: 0px 25px 0px 0px;
    }
  }
  &.teach-box {
    border-radius: 0px 25px 0px 0px;
    h2.pane-title {
      border-radius: 0px 25px 0px 0px;
    }
  }
  &.support-box {
      border-radius: 0px 25px 0px 0px;
      h2.pane-title {
        border-radius: 0px 25px 0px 0px;
      }
    }
  }
