@import "mixins";
@import "variables";
@import "compass/css3";

body {
  background: $siteBgColor;
}

#page {
  background: #fff;
  @include box-shadow();
}

.home-box {
  border-top-right-radius: 50px;
  h2.pane-title {
    border-top-right-radius: 50px;
  }
}

#navigation ul.menu {
  background: transparent;
  li {
    a {
      color: $darkPurple;
    }
  }
}

.pane-sponsors {
  border-bottom: 4px solid white;
}

.view-sponsors {
  .view-header {
    a.button {
      @extend %button;
      color: $purpleText;
    }
  }
}

#navigation {
  a{
    color: #3a3a5c;
  }
  #block-menu-block-top-level-nav {
    ul li {
      &.first {
        background: $blockBgLightOrange;
        @include hoverBg($blockBgDarkOrange);
      }

      // todo: add classes to avoid using this selector.
      &:nth-of-type(2) {
        background: $blockBgLightGreen;
        @include hoverBg($blockBgDarkGreen);
      }

      // todo: add classes to avoid using this selector.
      &:nth-of-type(3) {
        background: $blockBgLightPink;
        @include hoverBg($blockBgDarkPink);
        width: 185px;
      }
      &.last {
        background: $blockBgLightPurple;
        @include hoverBg($blockBgDarkPurple);
      }

      a {
        color: #fff;
      }
    }
  }
}

.home-about {
  border-top: none;
}

.panel-nerds-two-col {
  .panels-top {
    .panel-pane {
      border-bottom: none;
    }
  }
}


