@import "variables";
@import "mixins";
@import "compass/css3";

html {
  font-family: $montserrat;
  background: $siteBgColor;
  color: $defaultTextColor;
}
a {
  text-decoration: none;
  color: $defaultLinkColor;
  &.mollom-target {
    color: $purpleText;
  }
}
p {
  font-size: $defaultFontSize;
}
.home-about {
  border-top: 1px dotted $purple;
}
.page-learn h1#page-title {
  display: none;
}
.home-box {
  color: #fff;
  p {
    font-size: 17px;
    color: #000;
  }

  &.learn-box {
    background-color: $blockBgLightOrange;
    .pane-title, .button {
      background-color: $blockBgDarkOrange;
    }
    .button {
      @include hoverBg($hoverOrange);
    }
  }
  &.teach-box {
    background-color: #68bd55;
    .pane-title, .button {
      background-color: #5bb048;
      color: #fff;
    }
    .button {
      @include hoverBg($hoverGreen);
    }
  }
  &.support-box {
    background-color: $lightPink;
    .pane-title, .button {
      background-color:$pink;
    }
    .button {
      @include hoverBg($hoverPink);
    }
  }
    .button {
      border-color: #ffffff;
    }
}

header.header , body {
  background: #fff;
}

.highlight {
  font-size: 24px;
  color: $highlightText;
  font-weight: $bold;
}

.button {
  @extend %button;
}

.purple-button, input[type=submit] {
  @extend .button;
  display: block;
  box-sizing: border-box;
  border: 2px solid #fff;
  background: $purple;
  @include hoverBg($hoverPurple);
  cursor: pointer;
  width: 100%;
}

.front {
  #content h1 {
    color: #fff;
  }
  .panels-top {
    background: image-url('banner_home.jpg') no-repeat center center;
    @include background-size('cover');
    background-color: $darkPurple;
    color: #fff;

    p {
      font-size: 21px;
    }
    a {
      color: $pink;
    }
    li {
      list-style: circle;
      a {
        color: #fff;
      }
    }
    h1 {
      text-transform: uppercase;
    }
    .button {
      @extend .purple-button;
    }
  }
  .panel-bottom {
    background: $lightBgColor;
  }
}

#navigation {
  ul.menu {
    background: $purple;
  }
  li {
    list-style: none;
    @include transition(.3s);
    border-bottom: 1px solid #fff;
    a {
      color: #fff;
    }
  }
}

.menu-hidden + #navigation {
  li {
    border-bottom: 0;
  }
}


.header__name-and-slogan {
  a {
    font-size: 24px;
    color: $siteBgColor;
  }
}

#social-media-links {
  a {
    color: #fff;
    border-radius: 50%;
    background: $purple;
    font-size: 32px;
    text-align: center;
    &.icon-twitter {
      background: $twitterIconColor;
      @include hoverBg($fbIconColor);
    }
    &.icon-facebook{
      background: $fbIconColor;
      @include hoverBg($gplusIconColor);
    }
    &.icon-gplus{
      background: $gplusIconColor;
      @include hoverBg(#313358);
    }
  }
}

.hamburger-wrap {
  background: $purple;
  color: #fff;
  cursor: pointer;
  .hamburger-part {
    background: #fff;
    position: absolute;
    @include transition(.3s);
  }

  .hamburger-text {
    text-align: center;
    text-transform: uppercase;
  }
}

.view-sponsors {
  a {
    color: $purpleText;
    font-weight: normal;
    &.button {
      border-color: #666785;
    }
  }
}

.panel-nerds-two-col {
  .panels-top {
    .panel-pane {
      border-bottom: 1px dotted $purple;
      &.pane-nerd-events {
        border-bottom: none;
      }
    }
  }
}


.region-sidebar-first,
.region-sidebar-second,
#content {
  .block-title, h1 {
    color: $defaultLinkColor;
  }
}

.node-event {
  &.node-teaser {
    header {
      margin: 0;
      padding: 0;
    }
    .node-title {
      font-size: 14px;
      a {
        color: $defaultTextColor;
      }
    }
  }
}

.view-nerd-events {
  .view-display-id-page {
    .view-content {
      border-top: 2px dotted $defaultTextColor;
    }
    .views-row {
      border-bottom: 2px dotted $defaultTextColor;
    }
  }
}

#block-nerd-blocks-nerd-save-date {
  margin-top: 25px;
  border-bottom: 20px solid $purple;
  border-radius: 0;
  box-shadow: 0 0 4px grey;
  color: $defaultTextColor;
  h4 {
    text-align: center;
    font-size: 20px;
    border-bottom-left-radius: 0;
    color: $defaultTextColor;
    margin: 0;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  .block-title {
    background: $purple;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nerd-sign-up-content {
    background: $lightBgColor;
    box-sizing: border-box;
    padding: 10px;
  }
}


  #banner_area {
    width: 100%;
    float: none;
      width: 100%;
      position: relative;
    div#block-block-6 {
      width: 100%;
      background: url('../images/banner_learn.jpg?1401306359') no-repeat;
      @include background-size(cover);
      color: white;
      clear: both;
      float: none;
    }
    h1 {
      margin: 12px 0 4px 24px;
      font-weight: lighter;
      display: block;
    }
    p {
      margin: 24px 6px 0 36px;
      color: $lightPurpleHeadline;
      font-size: 14px;
      a{
        border-color: #ffffff;
        margin-bottom: 10px;
        &:hover{
          background-color: $hoverOrange;
        }
      }
    }
    ul {
      font-size: smaller;
      padding-left: 64px;
      padding-bottom: 8px;
      margin-top: 4px;
    }
    div#block-nerd-homepage-login-registration-block {
      width: 100%;
      display: inline-block;
      float: left;
      clear: both;
      color: #ffffff;
      // needs latest Compass, add '@import "compass"' to your scss
      background-color: #ed7b32; // Old browsers
      @include filter-gradient(#ed7b32, #e9682e, vertical); // IE6-9
      @include background-image(linear-gradient(top,  #ed7b32 0%,#e9682e 50%,#e9682e 60%,#e9682e 100%));
      div.form-item {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      #toggle-login {
        display: block;
        //margin: 24px 48px 0 48px;
      }
      #edit-actions {
        display: block;
        margin: 0 24px;
        padding-bottom: 12px;
      }
      .form-text.required {
        width: 234px;
        margin-left: 25px;
        margin-right: 25px;
      }
      span.form-required {
        color: $purpleText;
      }

      div.description {
        margin-left: 25px;
        margin-right: 25px;
      }
      label {
        margin-left: 25px;
      }
      .form-submit {
        //float: right;
        //margin-right: 12px;
        //margin-bottom: 5px;
        //padding-left: 12px;
        //padding-right: 12px;

      }
      .go-to-register {
        a.purple-button {
          font-size: 13px;
          font-weight: lighter;
         // margin-right: 12px;
          //margin-bottom: 5px;
          padding-left: 12px;
          padding-right: 12px;
          border: 2px solid #ffffff;
        }
      }
      .nerd-register {
        display: none;
      }

      //OPEN REGISTRATION BLOCK
      &.open-registration {
        display: block;
        //position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: $blockBgDarkOrange;
        z-index: 1;
        padding-bottom: 24px;
        .nerd-register {
          display: block;
        }
        .nerd-login {
          border: 2px solid #ffffff;
          border-top: none;
          border-right: none;
          float: right;
          width: 100%;
        }
        fieldset#edit-mailchimp-lists {
          margin-left: 25px;
          margin-right: 25px;
          border: none;
        }
       .resizable.textarea-processed.resizable-textarea {
         margin-left: 25px;
         width: 50%;
       }
       .form-submit {
         display: block;
         width: 100%;
         background-color: red;
         }

       }
      }
    }


  //support sponsors page
h1#page-title {
  color: #4953a3;
  background-color: $lightBgColor;
  margin-bottom: 0;
  padding-bottom: 22px;
  padding-left: 15px;
}
.view-id-sponsors {
  &.view-display-id-page {
    background-color: $lightBgColor;
    color: $purpleText;
    display: inline-block;
    vertical-align: bottom;
  }
  h3 {
    color: $purpleText;
  }
  .views-field-field-sponsor-logo {
    a {display: block;
      border: 3px solid #ffffff;
    }
    img {
      display: block;
    }
  }
}

