@import "variables";
@import "mixins";
@import "compass/css3";

html {
  font-family: $montserrat;
  background: $siteBgColor;
  color: $defaultTextColor;
}
a {
  text-decoration: none;
  color: $defaultLinkColor;
  &.mollom-target {
    color: $purpleText;
  }
}
p {
  font-size: $defaultFontSize;
}
.home-about {
  border-top: 1px dotted $purple;
}
.page-learn, .page-teach{
  h1#page-title {
  display: none;
}
}
.home-box {
  color: #fff;
  p {
    font-size: 17px;
    color: #000;
  }

  &.learn-box {
    background-color: $blockBgLightOrange;
    .pane-title, .button {
      background-color: $blockBgDarkOrange;
    }
    .button {
      @include hoverBg($hoverOrange);
    }
  }
  &.teach-box {
    background-color: #68bd55;
    .pane-title, .button {
      background-color: #5bb048;
      color: #fff;
    }
    .button {
      @include hoverBg($hoverGreen);
    }
  }
  &.support-box {
    background-color: $lightPink;
    .pane-title, .button {
      background-color:$pink;
    }
    .button {
      @include hoverBg($hoverPink);
    }
  }
    .button {
      border-color: #ffffff;
    }
}

header.header , body {
  background: #fff;
}

.highlight {
  font-size: 24px;
  color: $highlightText;
  font-weight: $bold;
}

.button {
  @extend %button;
}

.purple-button, input[type=submit] {
  @extend .button;
  display: block;
  box-sizing: border-box;
  border: 2px solid #fff;
  background: $purple;
  @include hoverBg($hoverPurple);
  cursor: pointer;
  width: 100%;
}

.front {
  #content h1 {
    color: #fff;
  }
  .panels-top {
    background: image-url('banner_home.jpg') fixed no-repeat center center;
    @include background-size('cover');
    background-color: $darkPurple;
    color: #fff;

    p {
      font-size: 21px;
    }
    a {
      color: $pink;
    }
    li {
      list-style: circle;
      a {
        color: #fff;
      }
    }
    h1 {
      text-transform: uppercase;
    }
    .button {
      @extend .purple-button;
    }
  }
  .panel-bottom {
    background: $lightBgColor;
  }
}

#navigation {
  ul.menu {
    background: $purple;
  }
  li {
    list-style: none;
    @include transition(.3s);
    border-bottom: 1px solid #fff;
    a {
      color: #fff;
    }
  }
}

.menu-hidden + #navigation {
  li {
    border-bottom: 0;
  }
}


.header__name-and-slogan {
  a {
    font-size: 24px;
    color: $siteBgColor;
  }
}

#social-media-links {
  a {
    color: #fff;
    border-radius: 50%;
    background: $purple;
    font-size: 32px;
    text-align: center;
    &.icon-twitter {
      background: $twitterIconColor;
      @include hoverBg($fbIconColor);
    }
    &.icon-facebook{
      background: $fbIconColor;
      @include hoverBg($gplusIconColor);
    }
    &.icon-gplus{
      background: $gplusIconColor;
      @include hoverBg(#313358);
    }
  }
}

.hamburger-wrap {
  background: $purple;
  color: #fff;
  cursor: pointer;
  .hamburger-part {
    background: #fff;
    position: absolute;
    @include transition(.3s);
  }

  .hamburger-text {
    text-align: center;
    text-transform: uppercase;
  }
}

.view-sponsors {
  a {
    color: $purpleText;
    font-weight: normal;
    &.button {
      border-color: #666785;
    }
  }
}

.panel-nerds-two-col {
  .panels-top {
    .panel-pane {
      border-bottom: 1px dotted $purple;
      &.pane-nerd-events {
        border-bottom: none;
      }
    }
  }
}


.region-sidebar-first,
.region-sidebar-second,
#content {
  .block-title, h1 {
    color: $defaultLinkColor;
  }
}

.node-event {
  &.node-teaser {
    header {
      margin: 0;
      padding: 0;
    }
    .node-title {
      a {
        color: $defaultTextColor;
      }
    }
  }
}

.view-nerd-events {
  .view-display-id-page {
    .view-content {
      border-top: 2px dotted $defaultTextColor;
    }
    .views-row {
      border-bottom: 2px dotted $defaultTextColor;
    }
  }
}

#block-nerd-blocks-nerd-save-date {
  margin-top: 25px;
  border-bottom: 20px solid $purple;
  border-radius: 0;
  box-shadow: 0 0 4px grey;
  color: $defaultTextColor;
  h4 {
    text-align: center;
    font-size: 20px;
    border-bottom-left-radius: 0;
    color: $defaultTextColor;
    margin: 0;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  .block-title {
    background: $purple;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nerd-sign-up-content {
    background: $lightBgColor;
    box-sizing: border-box;
    padding: 10px;
  }
}

#block-boxes-learn-cta-box {
  background: url('../images/banner_learn-2.jpg') fixed no-repeat;
  @include background-size(cover);
  min-height: 350px;
  color: #fff;
  clear: left;
}
#boxes-box-support_cta {
  background: url('../images/banner_support-orange.jpg') fixed no-repeat;
  @include background-size(cover);
  min-height: 350px;
  color: #fff;
  clear: left;
}
#boxes-box-teach_cta {
  background: url('../images/banner_teach-orange.jpg') fixed no-repeat;
  @include background-size(cover);
  min-height: 350px;
  color: #fff;
  clear: left;
}

input, .form-item {
  max-width: 95%;
  margin-left: 1em;
}

.pane-nerd-attendees {
  .more-link {
    display: none;
  }
}

#banner_area {
  width: 100%;
  float: none;
  position: relative;
  clear: both;
  h1, h2 {
    margin: 12px 0 4px 24px;
    font-weight: lighter;
    display: block;
    //padding: 12px;
  }
  p {
    margin: 24px 6px 0 24px;
    a{
      box-sizing: border-box;
      background-color: $purple;
      border-color: #ffffff;
      margin-bottom: 10px;
      text-align: center;
      padding: 4px;
      width: 95%;
      &:hover{
        background-color: $hoverPurple;
      }
    }
  }
  ul {
    margin-left: 24px;
    margin-right: 24px;
  }
  div#block-nerd-homepage-login-registration-block, #block-system-user-menu {
    width: 100%;
    display: inline-block;
    //float: left;
    clear: both;
    color: #ffffff;
    z-index: 50;
    box-shadow: 0 0 4px grey;
    a {
      color: #ffffff;
    }
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: #ed7b32; // Old browsers
    @include filter-gradient(#ed7b32, #e9682e, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #ed7b32 0%,#e9682e 50%,#e9682e 60%,#e9682e 100%));
    div.form-item {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    #toggle-login {
      display: block;
    }
    #edit-actions {
      display: block;
      margin: 0 24px;
      padding-bottom: 12px;
    }
    .form-text.required {
      width: 234px;
      margin-left: 6px;
      //margin-right: 25px;
    }
    span.form-required {
      color: $purpleText;
    }

    div.description {
      margin-left: 25px;
      margin-right: 25px;
    }
    label {
      margin-left: 25px;
    }
    .go-to-register {
      a.purple-button {
        font-size: 13px;
        font-weight: lighter;
        padding-left: 12px;
        padding-right: 12px;
        border: 2px solid #ffffff;
        margin-top: 5px;
      }
    }
    .nerd-register {
      display: none;
    }

    //OPEN REGISTRATION BLOCK
    &.open-registration {
      display: block;
      left: 0;
      top: 0;
      min-width: 100%;
      background-color: $blockBgDarkOrange;
      z-index: 1;
      padding-bottom: 24px;
      #edit-actions--2 {
        margin-left: 24px;
        margin-right: 24px;
      }

      .nerd-register {
        display: block;
      }
      .nerd-login {
        display: none;
      }
      fieldset#edit-mailchimp-lists {
        margin-left: 25px;
        margin-right: 25px;
        border: none;
      }
      .resizable.textarea-processed.resizable-textarea {
        margin-left: 25px;
        width: 50%;
      }
      .form-submit {
        display: block;
        width: 100%;
      }
    }
  }
}


h1#page-title {
  color: #4953a3;
  background-color: $lightBgColor;
  margin-bottom: 0;
  padding-bottom: 22px;
  padding-left: 15px;
}
.view-id-sponsors {
  &.view-display-id-page {
    background-color: $lightBgColor;
    color: $purpleText;
    display: inline-block;
    vertical-align: bottom;
  }
  h3 {
    color: $purpleText;
  }
  .views-field-field-sponsor-logo {
    a {display: block;
      border: 3px solid #ffffff;
    }
    img {
      display: block;
    }
  }
}

