/* line 29, ../scss/_variables.scss */
.button, .purple-button, .front .panels-top .button {
  display: inline-block;
  border-radius: 18px;
  border: 2px solid #4953a3;
  text-align: center;
  padding: 5px 30px;
  background: transparent;
  color: #fff;
  font-weight: 700;
}

/* line 4, ../scss/style.scss */
html {
  font-family: "Montserrat";
  background: #3a3a5c;
}

/* line 9, ../scss/style.scss */
header, body {
  background: #fff;
  padding: 10px 0;
}

/* line 14, ../scss/style.scss */
.highlight {
  font-size: 24px;
  color: #7cd4fd;
  font-weight: 700;
}

/* line 24, ../scss/style.scss */
.purple-button, .front .panels-top .button, .front .panels-top .purple-button {
  border: 2px solid #fff;
  background: #4953a3;
}

/* line 31, ../scss/style.scss */
.front .page__title {
  display: none;
}
/* line 34, ../scss/style.scss */
.front .panels-top {
  display: block;
  background: url('../images/banner_home.jpg?1401295459') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  box-sizing: border-box;
  padding: 10px 25px;
}
/* line 41, ../scss/style.scss */
.front .panels-top h1 {
  float: left;
  width: 100%;
  display: block;
  text-transform: uppercase;
  margin: 0;
}
/* line 48, ../scss/style.scss */
.front .panels-top .purple-button, .front .panels-top .button {
  display: block;
  margin-bottom: 10px;
}

/* line 56, ../scss/style.scss */
#skip-link {
  margin: 0;
}

/* line 59, ../scss/style.scss */
body {
  margin: 0;
}

/* line 62, ../scss/style.scss */
.home-box {
  border-top-right-radius: 45px;
}

/* line 67, ../scss/style.scss */
#logo a {
  width: 100%;
}
/* line 70, ../scss/style.scss */
#logo img {
  width: 50%;
  display: block;
}

/* line 76, ../scss/style.scss */
.header__site-name {
  margin-top: 0;
}

/* line 80, ../scss/style.scss */
.header__name-and-slogan a {
  font-size: 18px;
  line-height: 1em;
}
