/* line 23, ../scss/_mixins.scss */
.button, .purple-button, .front .panels-top .button, input[type=submit] {
  display: inline-block;
  border-radius: 18px;
  border: 2px solid #4953a3;
  text-align: center;
  padding: 5px 30px;
  background: transparent;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
.button:hover, .purple-button:hover, .front .panels-top .button:hover, input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 5, ../scss/style.scss */
html {
  font-family: "Montserrat";
  background: #3a3a5c;
  color: #242429;
}

/* line 10, ../scss/style.scss */
a {
  text-decoration: none;
  color: #d94903;
}
/* line 13, ../scss/style.scss */
a.mollom-target {
  color: #3f4157;
}

/* line 17, ../scss/style.scss */
p {
  font-size: 13px;
}

/* line 20, ../scss/style.scss */
.home-about {
  border-top: 1px dotted #4953a3;
}

/* line 23, ../scss/style.scss */
.page-learn h1#page-title {
  display: none;
}

/* line 26, ../scss/style.scss */
.home-box {
  color: #fff;
}
/* line 28, ../scss/style.scss */
.home-box p {
  font-size: 17px;
  color: #000;
}
/* line 33, ../scss/style.scss */
.home-box.learn-box {
  background-color: #f49c00;
}
/* line 35, ../scss/style.scss */
.home-box.learn-box .pane-title, .home-box.learn-box .button, .home-box.learn-box .purple-button, .home-box.learn-box input[type=submit] {
  background-color: #e88f36;
}
/* line 38, ../scss/style.scss */
.home-box.learn-box .button, .home-box.learn-box .purple-button, .home-box.learn-box input[type=submit] {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
.home-box.learn-box .button:hover, .home-box.learn-box .purple-button:hover, .home-box.learn-box input[type=submit]:hover {
  background-color: #e88222;
}
/* line 42, ../scss/style.scss */
.home-box.teach-box {
  background-color: #68bd55;
}
/* line 44, ../scss/style.scss */
.home-box.teach-box .pane-title, .home-box.teach-box .button, .home-box.teach-box .purple-button, .home-box.teach-box input[type=submit] {
  background-color: #5bb048;
  color: #fff;
}
/* line 48, ../scss/style.scss */
.home-box.teach-box .button, .home-box.teach-box .purple-button, .home-box.teach-box input[type=submit] {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
.home-box.teach-box .button:hover, .home-box.teach-box .purple-button:hover, .home-box.teach-box input[type=submit]:hover {
  background-color: #2eb01f;
}
/* line 52, ../scss/style.scss */
.home-box.support-box {
  background-color: #df699a;
}
/* line 54, ../scss/style.scss */
.home-box.support-box .pane-title, .home-box.support-box .button, .home-box.support-box .purple-button, .home-box.support-box input[type=submit] {
  background-color: #dd5c91;
}
/* line 57, ../scss/style.scss */
.home-box.support-box .button, .home-box.support-box .purple-button, .home-box.support-box input[type=submit] {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
.home-box.support-box .button:hover, .home-box.support-box .purple-button:hover, .home-box.support-box input[type=submit]:hover {
  background-color: #da5186;
}
/* line 61, ../scss/style.scss */
.home-box .button, .home-box .purple-button, .home-box .front .panels-top .button, .front .panels-top .home-box .button, .home-box input[type=submit] {
  border-color: #ffffff;
}

/* line 66, ../scss/style.scss */
header.header, body {
  background: #fff;
}

/* line 70, ../scss/style.scss */
.highlight {
  font-size: 24px;
  color: #7cd4fd;
  font-weight: 700;
}

/* line 80, ../scss/style.scss */
.purple-button, .front .panels-top .button, .front .panels-top .purple-button, .front .panels-top input[type=submit], input[type=submit] {
  border: 2px solid #fff;
  background: #4953a3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
/* line 6, ../scss/_mixins.scss */
.purple-button:hover, .front .panels-top .button:hover, .front .panels-top .purple-button:hover, .front .panels-top input[type=submit]:hover, input[type=submit]:hover {
  background-color: #394ba3;
}

/* line 89, ../scss/style.scss */
.front #content h1 {
  color: #fff;
}
/* line 92, ../scss/style.scss */
.front .panels-top {
  background: url('../images/banner_home.jpg?1401306359') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #2a2c68;
  color: #fff;
}
/* line 98, ../scss/style.scss */
.front .panels-top p {
  font-size: 21px;
}
/* line 101, ../scss/style.scss */
.front .panels-top a {
  color: #dd5c91;
}
/* line 104, ../scss/style.scss */
.front .panels-top li {
  list-style: circle;
}
/* line 106, ../scss/style.scss */
.front .panels-top li a {
  color: #fff;
}
/* line 110, ../scss/style.scss */
.front .panels-top h1 {
  text-transform: uppercase;
}
/* line 117, ../scss/style.scss */
.front .panel-bottom {
  background: #ebebf3;
}

/* line 123, ../scss/style.scss */
#navigation ul.menu {
  background: #4953a3;
}
/* line 126, ../scss/style.scss */
#navigation li {
  list-style: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #fff;
}
/* line 130, ../scss/style.scss */
#navigation li a {
  color: #fff;
}

/* line 137, ../scss/style.scss */
.menu-hidden + #navigation li {
  border-bottom: 0;
}

/* line 144, ../scss/style.scss */
.header__name-and-slogan a {
  font-size: 24px;
  color: #3a3a5c;
}

/* line 151, ../scss/style.scss */
#social-media-links a {
  color: #fff;
  border-radius: 50%;
  background: #4953a3;
  font-size: 32px;
  text-align: center;
}
/* line 157, ../scss/style.scss */
#social-media-links a.icon-twitter {
  background: #a9afe1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
#social-media-links a.icon-twitter:hover {
  background-color: #8083ad;
}
/* line 161, ../scss/style.scss */
#social-media-links a.icon-facebook {
  background: #8083ad;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
#social-media-links a.icon-facebook:hover {
  background-color: #4a4c74;
}
/* line 165, ../scss/style.scss */
#social-media-links a.icon-gplus {
  background: #4a4c74;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
#social-media-links a.icon-gplus:hover {
  background-color: #313358;
}

/* line 172, ../scss/style.scss */
.hamburger-wrap {
  background: #4953a3;
  color: #fff;
  cursor: pointer;
}
/* line 176, ../scss/style.scss */
.hamburger-wrap .hamburger-part {
  background: #fff;
  position: absolute;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 182, ../scss/style.scss */
.hamburger-wrap .hamburger-text {
  text-align: center;
  text-transform: uppercase;
}

/* line 189, ../scss/style.scss */
.view-sponsors a {
  color: #3f4157;
  font-weight: normal;
}
/* line 192, ../scss/style.scss */
.view-sponsors a.button, .view-sponsors a.purple-button, .view-sponsors .front .panels-top a.button, .front .panels-top .view-sponsors a.button {
  border-color: #666785;
}

/* line 200, ../scss/style.scss */
.panel-nerds-two-col .panels-top .panel-pane {
  border-bottom: 1px dotted #4953a3;
}
/* line 202, ../scss/style.scss */
.panel-nerds-two-col .panels-top .panel-pane.pane-nerd-events {
  border-bottom: none;
}

/* line 213, ../scss/style.scss */
.region-sidebar-first .block-title, .region-sidebar-first h1,
.region-sidebar-second .block-title,
.region-sidebar-second h1,
#content .block-title,
#content h1 {
  color: #d94903;
}

/* line 220, ../scss/style.scss */
.node-event.node-teaser header {
  margin: 0;
  padding: 0;
}
/* line 224, ../scss/style.scss */
.node-event.node-teaser .node-title {
  font-size: 14px;
}
/* line 226, ../scss/style.scss */
.node-event.node-teaser .node-title a {
  color: #242429;
}

/* line 235, ../scss/style.scss */
.view-nerd-events .view-display-id-page .view-content {
  border-top: 2px dotted #242429;
}
/* line 238, ../scss/style.scss */
.view-nerd-events .view-display-id-page .views-row {
  border-bottom: 2px dotted #242429;
}

/* line 244, ../scss/style.scss */
#block-nerd-blocks-nerd-save-date {
  margin-top: 25px;
  border-bottom: 20px solid #4953a3;
  border-radius: 0;
  box-shadow: 0 0 4px grey;
  color: #242429;
}
/* line 250, ../scss/style.scss */
#block-nerd-blocks-nerd-save-date h4 {
  text-align: center;
  font-size: 20px;
  border-bottom-left-radius: 0;
  color: #242429;
  margin: 0;
}
/* line 257, ../scss/style.scss */
#block-nerd-blocks-nerd-save-date img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 262, ../scss/style.scss */
#block-nerd-blocks-nerd-save-date p {
  text-align: center;
}
/* line 265, ../scss/style.scss */
#block-nerd-blocks-nerd-save-date .block-title {
  background: #4953a3;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 273, ../scss/style.scss */
#block-nerd-blocks-nerd-save-date .nerd-sign-up-content {
  background: #ebebf3;
  box-sizing: border-box;
  padding: 10px;
}

/* line 281, ../scss/style.scss */
#banner_area {
  width: 100%;
  float: none;
  width: 100%;
  position: relative;
}
/* line 286, ../scss/style.scss */
#banner_area div#block-block-6 {
  width: 100%;
  background: url("../images/banner_learn.jpg?1401306359") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  clear: both;
  float: none;
}
/* line 294, ../scss/style.scss */
#banner_area h1 {
  margin: 12px 0 4px 24px;
  font-weight: lighter;
  display: block;
}
/* line 299, ../scss/style.scss */
#banner_area p {
  margin: 24px 6px 0 36px;
  color: #8083ad;
  font-size: 14px;
}
/* line 303, ../scss/style.scss */
#banner_area p a {
  border-color: #ffffff;
  margin-bottom: 10px;
}
/* line 306, ../scss/style.scss */
#banner_area p a:hover {
  background-color: #e88222;
}
/* line 311, ../scss/style.scss */
#banner_area ul {
  font-size: smaller;
  padding-left: 64px;
  padding-bottom: 8px;
  margin-top: 4px;
}
/* line 317, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block {
  width: 100%;
  display: inline-block;
  float: left;
  clear: both;
  color: #ffffff;
  background-color: #ea662a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEA662A', endColorstr='#FFED7B32');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea662a), color-stop(100%, #ed7b32));
  background-image: -webkit-linear-gradient(top, #ea662a 0%, #ed7b32 100%);
  background-image: -moz-linear-gradient(top, #ea662a 0%, #ed7b32 100%);
  background-image: -o-linear-gradient(top, #ea662a 0%, #ed7b32 100%);
  background-image: linear-gradient(top, #ea662a 0%, #ed7b32 100%);
}
/* line 327, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block div.form-item {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* line 331, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block #toggle-login {
  display: inline-block;
  margin: 0;
  float: left;
}
/* line 336, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block #edit-actions {
  display: inline-block;
  margin: 0;
  float: left;
  padding-bottom: 12px;
}
/* line 342, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block .form-text.required {
  width: 234px;
  margin-left: 25px;
  margin-right: 25px;
}
/* line 347, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block span.form-required {
  color: #3f4157;
}
/* line 351, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block div.description {
  margin-left: 25px;
  margin-right: 25px;
}
/* line 355, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block label {
  margin-left: 25px;
}
/* line 358, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block .form-submit {
  float: right;
  margin-right: 12px;
  margin-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 365, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block .go-to-register {
  margin-left: 25px;
}
/* line 367, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block .go-to-register a.purple-button, #banner_area div#block-nerd-homepage-login-registration-block .go-to-register .front .panels-top a.button, .front .panels-top #banner_area div#block-nerd-homepage-login-registration-block .go-to-register a.button {
  font-size: 13px;
  font-weight: lighter;
  margin-right: 12px;
  margin-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid #ffffff;
}
/* line 377, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block .nerd-register {
  display: none;
}
/* line 381, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block.open-registration {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #e88f36;
  z-index: 1;
  padding-bottom: 24px;
}
/* line 390, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block.open-registration .nerd-register {
  display: block;
}
/* line 393, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block.open-registration .nerd-login {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  float: right;
  width: 290px;
}
/* line 401, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block.open-registration fieldset#edit-mailchimp-lists {
  margin-left: 25px;
  margin-right: 25px;
  border: none;
}
/* line 406, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block.open-registration .resizable.textarea-processed.resizable-textarea {
  margin-left: 25px;
  width: 50%;
}
/* line 410, ../scss/style.scss */
#banner_area div#block-nerd-homepage-login-registration-block.open-registration .form-submit {
  margin-right: auto;
  margin-left: auto;
  display: block;
  float: right;
}

/* line 421, ../scss/style.scss */
h1#page-title {
  color: #4953a3;
  background-color: #ebebf3;
  margin-bottom: 0;
  padding-bottom: 22px;
  padding-left: 15px;
}

/* line 429, ../scss/style.scss */
.view-id-sponsors.view-display-id-page {
  background-color: #ebebf3;
  color: #3f4157;
  display: inline-block;
  vertical-align: bottom;
}
/* line 435, ../scss/style.scss */
.view-id-sponsors h3 {
  color: #3f4157;
}
/* line 439, ../scss/style.scss */
.view-id-sponsors .views-field-field-sponsor-logo a {
  display: block;
  border: 3px solid #ffffff;
}
/* line 442, ../scss/style.scss */
.view-id-sponsors .views-field-field-sponsor-logo img {
  display: block;
}
