/* line 23, ../scss/_mixins.scss */
.view-sponsors .view-header a.button {
  display: inline-block;
  border-radius: 18px;
  border: 2px solid #4953a3;
  text-align: center;
  padding: 5px 30px;
  background: transparent;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
.view-sponsors .view-header a.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 5, ../scss/style.wide.scss */
body {
  background: #3a3a5c;
}

/* line 9, ../scss/style.wide.scss */
#page {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 14, ../scss/style.wide.scss */
.home-box {
  border-top-right-radius: 50px;
}
/* line 16, ../scss/style.wide.scss */
.home-box h2.pane-title {
  border-top-right-radius: 50px;
}

/* line 21, ../scss/style.wide.scss */
#navigation ul.menu {
  background: transparent;
}
/* line 24, ../scss/style.wide.scss */
#navigation ul.menu li a {
  color: #2a2c68;
}

/* line 30, ../scss/style.wide.scss */
.pane-sponsors {
  border-bottom: 4px solid white;
}

/* line 36, ../scss/style.wide.scss */
.view-sponsors .view-header a.button {
  color: #3f4157;
}

/* line 44, ../scss/style.wide.scss */
#navigation a {
  color: #3a3a5c;
}
/* line 49, ../scss/style.wide.scss */
#navigation #block-menu-block-top-level-nav ul li.first {
  background: #f49c00;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
#navigation #block-menu-block-top-level-nav ul li.first:hover {
  background-color: #e88f36;
}
/* line 55, ../scss/style.wide.scss */
#navigation #block-menu-block-top-level-nav ul li:nth-of-type(2) {
  background: #68bd55;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
#navigation #block-menu-block-top-level-nav ul li:nth-of-type(2):hover {
  background-color: #5bb048;
}
/* line 61, ../scss/style.wide.scss */
#navigation #block-menu-block-top-level-nav ul li:nth-of-type(3) {
  background: #e774a4;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 185px;
}
/* line 6, ../scss/_mixins.scss */
#navigation #block-menu-block-top-level-nav ul li:nth-of-type(3):hover {
  background-color: #da6897;
}
/* line 66, ../scss/style.wide.scss */
#navigation #block-menu-block-top-level-nav ul li.last {
  background: #4953a3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 6, ../scss/_mixins.scss */
#navigation #block-menu-block-top-level-nav ul li.last:hover {
  background-color: #3549a3;
}
/* line 71, ../scss/style.wide.scss */
#navigation #block-menu-block-top-level-nav ul li a {
  color: #fff;
}

/* line 78, ../scss/style.wide.scss */
.home-about {
  border-top: none;
}

/* line 84, ../scss/style.wide.scss */
.panel-nerds-two-col .panels-top .panel-pane {
  border-bottom: none;
}
